body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vw;
}

#stair {
  position: absolute;
  scale: 75%;
}

#fade {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.fade-animation-out {
  animation: cut-fade-in 0.7s forwards;
}

@keyframes cut-fade-out {
  0% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  100% {
    width: 100vw;
    height: 100vh;
    opacity: 0;
  }
}

.fade-animation-in {
  animation: cut-fade-in 0.7s forwards;
}
@keyframes cut-fade-in {
  0% {
    width: 100vw;
    height: 100vh;
    opacity: 0;
  }
  100% {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
}
